@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Tangerine:wght@400;700&display=swap");

* {
	color: #000000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
}

.root {
	min-height: 100vh;
}
